page-locator {
  .myButton {
    line-height: 20vh;
    font-size: 60pt;
    text-align: center;
    color: #FFFFFF;
  }
  .item {
    transition-property: color;
    transition-duration: 1s;
  }
  .background {
    background-color: #000000;
  }
}
