page-locate-friend {
  .bgIn {
    background-color: black;
  }
  .bgOut {
    background-color: white;
  }
  .midIn {
    background-color: black;
    border-radius: 50%;
    width: 30%;
    padding-top: 30%;
    margin: 0 auto;
    top: 50%;
  }
  .midOut {
    background-color: white;
    border-radius: 50%;
    width: 30%;
    padding-top: 30%;
    margin: 0 auto;
    top: 50%;
  }
  .innerIn {
    background-color: black;
    border-radius: 50%;
    width: 20%;
    padding-top: 20%;
    margin: 0 auto;
  }
  .innterOut {
    background-color: white;
    border-radius: 50%;
    width: 20%;
    padding-top: 20%;
    margin: 0 auto;
  }
}
