page-user-select {
  .background{
    background-color: #000000;
  }
  .user {
    background-color: #FFFF00;
    line-height: 30vh;
    font-size: 80pt;
    color: #000000;
    font-style: bold;
    text-align: center;
  }

}
