page-menu {
  .background {
    background-color: #FFFF00;
  }
  .find {
    background-color: #000000;
    line-height: 42vh;
    font-size: 80pt;
    color: #FFFF00;
    font-style: bold;
    text-align: center;
  }
  .manage {
    background-color: #FFFF00;
    line-height: 42vh;
    font-size: 80pt;
    color: #000000;
    font-style: bold;
    text-align: center;
  }
}
